# Dependencies
/node_modules
/juve/juveApp/bin/
/juve/juveApp/obj/
/juve/juveApp/appsettings*.json

# Environment
.env
.env.local
.env.*.local

# .NET / ASP.NET
*.dll
*.exe
*.pdb
*.su
*.suo
*.sln.docstates
*.user
*.userosscache
*.sln.VisualStudio.*
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
.vscode/
.idea/
*.swp
*.swo
*~

# Dependencies
.paket/paket.exe
paket-files/

# NuGet
*.nupkg
*.snupkg
.nuget/

# Runtime Config
*.runtimeconfig.json
*.runtimeconfig.dev.json

# Build results
*.staticwebassets.runtime.json