<%- include('../partials/header') %>
<main>
  <h1><%- title %></h1>
  <a href="/vacations/new">
    <h3>Create New Vacay</h3>
  </a>
  <% vacays.forEach(v => { %> <%- include('./vacationCard', v) %> <% }) %>
</main>
<%- include('../partials/footer') %>
