<footer>
    <p>&copy; <%= currentYear %> VacayVision - Roger Galan Manzano</p>
    <p>Connect with me on <a class="underline" href="https://www.linkedin.com/in/roger-galan-manzano/" target="_blank">LinkedIn</a></p>
    <p>Check out my other projects on <a class="underline" href="https://github.com/roger18gm" target="_blank">Github</a></p>
    <p>View my experience and other qualifications on my <a class="underline" href="https://rawwyurr.web.app/" target="_blank">Portfolio</a></p>
</footer>
</body>
</html>