<%- include('../partials/header') %>
<main>
  <h1>Internal Server Error</h1>
  <p>
    Something went wrong on our server. Our team has been notified and is
    working to fix the issue.
  </p>

  <% if (NODE_ENV === 'dev') { %>
  <h3>Stack log:</h3>
  <pre>
      Error Message: <%- error %> 
      <%- stack %> 
    </pre
  >
  <% } %>
</main>
<%- include('../partials/footer') %>
