<%- include('../partials/header') %>
<main>
  <h1><%= title %></h1>
  <p>Welcome your username is <%= user.username %></p>
  <a href="/community/submit"
    >Click here to submit one of your vacays for approval to the community
    page</a
  >
</main>
<%- include('../partials/footer') %>
